
.home {

  &-input {
    margin-bottom: 2rem;
  }

  &-best-week {
    margin-bottom: 2rem;
  }

  &-content {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
  }
}


@media (max-width: 767px) {
  .home {
    &-input {
      margin-left: 5rem;
      width: 70%;
    }

    &-content {
      flex-direction: column;
    }
  }
}

.input {
  flex-shrink: inherit;
}
